.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.sidebarRow:hover {
    background-color: turquoise;
    border-radius: 10px;
    transform: scale(1.07);

}

.sidebarRow> .MuiSvgIcon-root{
    font-size: xx-large;
    color:rgb(43, 31, 136);
}
.sidebar {
    padding: 25px 10px;
    flex:0.35;
}